// @import './defaults';
@import './modules/moviethumbs';
@import './modules/header';
@import './modules/popup';
@import './modules/music';
// @import './modules/footer';
@import './modules/routeError';

.pop-close{
    transform: scale(0);
    transition: transform 0.5s ease;
}

.show-data{
    display: flex;
}

.dis-hidden{
    display: none;
}