.music-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background: red;

    p:nth-child(1){
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #434343;
    }

    .music-container{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        .song-box{

            img{
                border-radius: 20px;
                filter: grayscale(1);
                transition: filter 0.25s ease;
            }
            
            p:nth-child(2){
                font-family:Helvetica, sans-serif;
                font-size: 1.095rem;
                font-weight: bold;
                filter: grayscale(1);
            }

            p:nth-child(3){
                float: right;
                font-family:Helvetica, sans-serif;
                transition: float 2s ease-in;
            }
        }

        .song-box:hover{
            cursor: pointer;
            img{
                filter: grayscale(0);
            }
            p:nth-child(2){
                color: lightseagreen;
            }
            p:nth-child(3){
                float: left;
            }
        }
    }
}

// AUDIO SECTION
.audio-section{
    width: 100%;
    background: #000;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;

    .audio-bar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        .song-detail{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 60px;
                height: auto;
            }

            .song-bar-name{
                font-family: Arial, Helvetica, sans-serif;
                color: #fff;
                padding:0 5px;
            }
        }

        .audio{
            flex:1;

            audio{
                width: 100%;
            }
        }
    }    
}