<section class="music-section">
    <p class="main-title">{{ musicMessage }}</p>
    <div class="music-container">
        <musicthumb @showmydata="imageSelected" v-for="item in allMusic" :music="item" :key="item.id"></musicthumb>
    </div>
</section>
<section class="audio-section">
    <div class="audio-bar" :class="{'show-data' : show_bio_data}">
        <div class="song-detail">
            <img :src="'/images/music/' + musicpdb.thumbnail">
            {{!-- <p class="song-bar-name">{{musicpdb.song_name}}</p> --}}
        </div>
        <div class="audio">
            <audio :src="'/music/' + musicpdb.song_format" controls></audio>
        </div>
    </div>
</section>
