<section class="pop-box">
    <div class="close-button">
        &#10008;
    </div>
    <div class="screen">
        display
    </div>
    <div class="details">
        <div class="title">
            <div class="line"></div>
            <div class="name">movie</div>
        </div>
        <div class="about">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque magni ullam sed laboriosam 
                consequatur enim nobis unde id totam impedit.
            </p>
            <p>Time:</p>
            <p>Movie Rate:</p>
        </div>
    </div>
</section>   